/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px){
  .brand{
    margin-top: 9em !important; 
  };
  .home{
    height: 35em !important;
  };
  .skill-img{
    width:10px !important;
    height:10px !important;
  }
  #skills{
    height: 38em !important;
  }
} */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px){
  .home{
    height:100% !important; 
    margin-top:15% !important; 
  }
  
  .skill-sets{
    width: 72% !important;
  }

  .btns{
    margin-top:5% !important; 
    margin-bottom:10% !important; 
    width:50%; 
  }
  .btn-port{
    display:inline-table !important; 
    margin-bottom:3% !important; 
    width:40px !important; 
  }
  .cards{
    width:69% !important; 
  }
}; 


.nav-link{
  color: #c3c8d6; 
}

.nav{
  padding-top:5px; 
  padding-bottom:5px; 
}

.nav-link{
  padding:0em !important;
}

.nav-link:hover{
  color: white; 
}

/* .nav-block:hover{
  background: #1b1f29; 
} */

.nav-active{
  background: #1b1f29; 
  color:white; 
}

.nav-link:active{
  color: white; 
}

.header{
  position: fixed;
}

.home{
  background: #00bcbd; 
  height:100%;
  color:white;
}

.nav{
  width:100%; 
  z-index:100; 
  background: #262b37; 
}

.brand{
  margin-top: 10%; 
}

.brand-name{
  text-align: center; 
}


.btn-resume{
  color: white;
  background: #474d5d;
  width: 250px;
  /* height: 50px; */
  text-align: center;
  padding: 10px;
  margin-bottom: 10%;
}
#portfolio{
 background: hsl(194, 72%, 52%);
 padding-top:10%;
 padding-bottom:10%; 
  height:100%; 
  /* color: #FA5858;  */
}

.cards{
  /* margin-top: 60px;  */
  margin:auto; 
  width:75%; 
}

.card{
  display:inline-block; 
  margin:auto; 
  margin-right:1%; 
  margin-bottom:1%; 
}

.portfolio_name{
  text-align: center; 
}

#contact{
  background:#474d5d; 
  height: 100%; 
  color: white; 
  padding-top:10%;
  padding-bottom:10%; 
}


.address-item{
  padding-left:1em; 
}

#message{
  display: inline-block; 
}

.msg-item{
  margin-bottom: 1em; 
  margin-right: 1em; 
  display: inline-block; 
}

.submit{
  background: #ff675f; 
  color: white; 
  padding:0.5em 1em 0.5em 1em; 
  font-weight: bold; 
  font-style: italic; 
}

.submit:hover{
  color:white; 
  text-decoration: none; 
}

.card-img-top{
  height: 10em; 
}

.extra-link{
  text-align: center; 
}

.card-icon{
  color: #474d5d;  
  font-size: 22px; 
}

.card-text{
  overflow-y:scroll;
  overflow-x: hidden;
  height: 6em; 
}

.card-text::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.card-text::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.card-text::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.card-text::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.skills-css{
  background:#E6E6E6; 
  color: #474d5d; 
  height:100%; 
  padding-top:10%; 
  padding-bottom:10%; 
}

.skills-title{
  text-align: center; 
}

.skill-block{
  display: inline-block;
}


.skill-img{
  width: 120px; 
  height:120px; 
  margin-bottom: 5px; 
  margin-right:4px; 
}

.text_center{
  text-align: center;
  margin-top:2em; 
}

.nav-icon{
  font-size:20px; 
}

.nav-block{
  font-size: 15px; 
}

.about_link{
  color:#474d5d; 
}

.about_link:hover{
  color:#474d5d; 
  text-decoration: none; 
}

.resume:hover{
  color:white; 
  text-decoration: none; 
}

.portfolio-title{
  margin-bottom:3%; 
  text-align: center; 
  color:white; 
}


.btn-port{
  color:white; 
  text-align:center; 
  width:10%; 
  padding:15px 28px; 
  border:2px white solid; 
  font-size: 14px; 
  margin-top:3%; 
  cursor: pointer;
  display:inline; 
}


.btns{
  display:inline; 
  margin:auto; 
  margin-bottom:5%; 
}
.btn-port:hover{
  color:#474d5d; 
  border-color:#474d5d; 
}

.btn-active{
  background: #474d5d;
}

.btn-active:hover{
  color:white; 
  border-color:white; 
}

.email{
  color:white; 
}

.email:hover{
  color:white; 
  text-decoration: none; 
}

footer{
  background:#262b37; 
  color:#c3c8d6; 
  text-align: center; 
  padding-top: 5px;
  padding-bottom: 5px;
}

/* media query */
.nav-link{
  margin:auto; 
  color: #c3c8d6; 
}

.nav-block{
  display:inline
}

.nav-icon{
  display:inline
}

.nav-general{
  display: inline; 
}

.col-12{
  /* text-align:center;  */
  width:100%; 
}

.fab{
  display: inline;  
}

.nav-link{
  padding: 0.8rem 1rem; 
}

.skill-sets{
  width:65%; 
  margin:auto;
}

body{
  overflow-x:hidden; 
}

.contact-info{
  margin:auto; 
}

.send-email{
  margin-top:7%; 
  cursor: pointer;
}